<!DOCTYPE html>
<html>
	<head>
		<title>Something went wrong </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body>
        <div id="wrapper">
            <header id="header">
                <div class="content">
                    <div class="inner">
                        <p> Page not found!</p>
                    </div>
                </div>
            </header>
            <footer id="footer">
                <p class="copyright">&copy; MURILO RAMOS CARRARO - <a href="https://www.jumia.com.ng/"> JUMIA</a>.</p>
            </footer>
        </div>
        <div id="bg"></div>
        <script src="assets/js/skel.min.js"></script>
	</body>
</html>